body {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  width: 200px;
}

#timer {
  font-size: 36px;
  margin: 15px 0;
}

button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
